html *{
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
}
html, body {
  height: 100%;
}
div#map {
  height: 45%;
}

div#list{
  overflow: auto;
}

div.listItem {
  height:150px;
  width: 75%;
  background-color: rgb(200,200,200);
  margin: 3px auto 3px;
  padding: 15px;
  box-sizing: border-box;
}

div.listItem .listTitle {
  font-size: 18px;
  margin-bottom: 15px;
}

div.halfList{
  display: inline-block;
  vertical-align: top;
  width: 49%;
  height: 100%;
  margin: 0;
}

div.stars {
  float: right;
  margin-right: 20px;
}

.menu #title img {
  width: 300px;
  height: 70px;
  padding-top: 5px;
  padding-left: 30px;
}
.menu #title img:hover{
  cursor: pointer;
}

.hidden {
  display: none;
}

// --------------- header start -------------------



.menu-wrap {
    width:100%;
    box-shadow:0px 1px 3px rgba(0,0,0,0.2);
    background: $granite;
}

.menu {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    height: 80px;
    .link{
      padding-top: 30px;
    }
    li {
      margin:0px;
      list-style:none;
      input[type=submit] {
        padding:5px 15px;
        background:#ccc;
        border:0 none;
        cursor:pointer;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        left-margin: 10px;
        width: 100%;
      }
    }
    a {
      transition:all linear 0.15s;
      color: white;
      text-decoration: none;
    }
}

.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
    color: $love;
}

.menu > ul > li {
    font-size:19px;
}

.menu > ul > li > a {
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}

// .menu > ul > li:hover > a, .menu > ul > .current-item > a {
//
// }

#sub-menu {
    width:160%;
    padding:0;
    position: relative;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:$granite;
    li {
      font-size:16px;
    }
    a {
      padding: 10px;
      display:block;
      margin: 0;
    }
}

.menu li:hover #sub-menu {
    z-index:1;
    opacity:1;
}

// Landing page styling
#banner {
  display: flex;
  flex-direction: column;
  height: 400px;
  text-align: center;
  background-image: url(/images/AdobeStock_63967942.jpeg);
  background-size: 100vw 400px;
}
  #locate {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    margin-top: 250px;
    background-color: $granite;
    color: white;
    margin-bottom: 20px;
    font-size: 16px;
  }
  #locate:hover{
    border: 2px solid $love;
    color: $love;
  }
#teamInfo {
  display: flex;
  justify-content: space-around;
  background-color: white;
  padding-bottom: 20px;
}
  #teamInfo h3{
    text-align: center;
  }
  .info {
    width: 30%;
    background-color: white;
    color: $granite;
  }
    .info img {
      margin-top: 20px;
      border-radius: 50%;
      height: 220px;
      width: 220px;
      display: flex;
      margin: auto;
      margin-top: 20px;
      border: 5px solid $granite;
    }
    .info h3 {
      margin-top: 10px;
    }
    .info p {
      text-align: center;
      margin-top: 20px;
    }
#socIcons {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $robinsEgg;
}
  .icon {
    margin: 10px;
  }
#footer {
  text-align: center;
  background-color: $granite;
  color: white;
  padding-bottom: 10px;
}
  #footer p{
    padding-top: 10px;
  }

  // Main view page styling


  // More info viewpage
#details{
  text-align: center;
}
#basicInfo {
  text-align: center;
  color: $granite;
}
#attributes {
  display: flex;
  justify-content: space-around;
  color: $granite;
}
#commentField {
  text-align: center;
  background-color: $robinsEgg;
  color: $granite;
}
#comments {
  text-align: center;
  background-color: $robinsEgg;
  color: $granite;
}
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  span {
    display: none;
    position: relative;
    width: 1.1em;
    color: gold;
  }
}

.starNumber {
  display: none;
}
.attFlex {
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  flex-wrap: nowrap;
  height: 100%;
}

// Sign up and Sign in page

#signInSignUpPage {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 80vh;
}
  #signInSignUpPage div{
    margin-top: 15px;
  }
  #signInName, #signInPass, #signUpName, #signUpPass{
    padding: 10px;
    font-size: 20px;
    border: none;
    border-bottom: 3px solid $granite;
  }
    #signInName:focus, #signInPass:focus, #signUpName:focus, #signUpPass:focus{
      border-bottom: 3px solid $love;
      outline: none;
    }
  #signUpButton, #signInButton {
    width: 150px;
    height: 30px;
    margin-top: 10px;
    border: none;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 0;
    background-color: $robinsEgg;
    color: $granite;
  }
    #signInButton:focus, #signUpButton:focus {
      outline: none;
    }
    #signUpButton:hover, #signInButton:hover {
      background-color: $love;
    }
#signUpHalfErr{
  border: 5px solid red;
  h2, p {
    color: red;
  }
}
// Add a bathroom page

#addBathroom {
  text-align: center;
  color: $granite;
}
  #addBathroom input{
    margin: 10px;
  }
  #addBathroom h1 {
    margin-bottom: 25px;
  }
  #submitBathroom{
    height: 30px;
    width: 120px;
    font-size: 16px;
    background-color: $robinsEgg;
    border: none;
    border-radius: none;
  }
    #submitBathroom:hover{
      background-color: $love;
    }
  #submitName{
    font-size: 20px;
    border: none;
    border-bottom: 3px solid $granite;
  }
    #submitName:focus{
      border-bottom: 3px solid $love;
      outline: none;
    }
    #submitDescription:focus{
      outline:none;
    }
  #addBathroom[type='radio']:after {
    background: $love;
  }



.attributeExist {
  color: green;
}
.attributeNonExist {
  color: red;
}
.attributeNull {
  color: blue;
}
