extends layout
block content
  
    
  body
    section#addBathroom
      h1 Add Bathroom
      form(action='/addbathroom', method='POST')
        h3 Bathroom Name
        input(type='text', name='bathroomname')
        h4 Directions
        textarea(name='directions', rows="5", cols="50")
        h4 Is there a changing table in the Mens Bathroom?
        label
          | Yes 
          input(type='radio', name='menschangingtable', value='true')
        label
          | No 
          input(type='radio', name='menschangingtable', value='false')
          label
            h4 Is there a changing table in the Womens Bathroom?
            label
              | Yes 
              input(type='radio', name='womenschangingtable', value='true')
            label
              | No 
              input(type='radio', name='womenschangingtable', value='false')
            h4 Is this a unisex bathroom?
            label
              | Yes 
              input(type='radio', name='unisex', value='true')
            label
              | No 
              input(type='radio', name='unisex', value='false')
            h4 Is this bathroom for customers only?
            label
              | Yes 
              input(type='radio', name='customersonly', value='true')
            label
              | No 
              input(type='radio', name='customersonly', value='false')
            h4 Is this a single unit or multiple stall bathroom?
            label
              | Single 
              input(type='radio', name='private', value='true')
            label
              | Multiple 
              input(type='radio', name='private', value='false')
            br
            input(type='submit')
