html * {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

div#map {
  height: 45%; }

div#list {
  overflow: auto; }

div.listItem {
  height: 100px;
  width: 75%;
  background-color: #c8c8c8;
  margin: 3px auto;
  padding: 15px;
  box-sizing: border-box; }

div.listItem .listTitle {
  font-size: 18px;
  margin-bottom: 15px; }

div.halfList {
  display: inline-block;
  vertical-align: top;
  width: 49%;
  height: 100%;
  margin: 0; }

div.stars {
  float: right;
  margin-right: 20px; }

#title {
  color: #c8c8c8; }

.hidden {
  display: none; }

.menu-wrap {
  width: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  background: #2E2633; }

.menu {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  height: 80px; }
  .menu ul {
    padding-top: 30px; }
  .menu li {
    margin: 0px;
    list-style: none; }
  .menu a {
    transition: all linear 0.15s;
    color: #919191;
    text-decoration: none; }

.menu li:hover > a, .menu .current-item > a {
  text-decoration: none;
  border-radius: 20px 20px 20px 20px;
  color: #00D09C; }

.menu > ul > li {
  font-size: 19px; }

.menu > ul > li > a {
  display: inline-block;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4); }

.menu > ul > li:hover > a, .menu > ul > .current-item > a {
  background: grey; }

#sub-menu {
  width: 160%;
  padding: 0;
  position: relative;
  top: 100%;
  left: 0px;
  z-index: -1;
  opacity: 0;
  transition: opacity linear 0.15s;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  background: #2e2728; }
  #sub-menu li {
    font-size: 16px; }
  #sub-menu a {
    padding: 10px;
    display: block;
    margin: 0; }

.menu li:hover #sub-menu {
  z-index: 1;
  opacity: 1; }

#sub-menu li a:hover, .sub-menu .current-item a {
  background: #3e3436; }

#signin, #signup {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  z-index: 200;
  border: 10px solid black;
  height: 50vh;
  width: 50vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 10px 10px rgba(0, 0, 0, 0.2); }
  #signin .xButton, #signup .xButton {
    align-self: flex-end;
    margin-right: 20px; }

#AddABathroom {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  text-align: center;
  z-index: 200;
  border: 10px solid black;
  height: 50vh;
  width: 50vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 10px 10px rgba(0, 0, 0, 0.2); }
  #AddABathroom form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
    width: 30%; }
  #AddABathroom #checkboxes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
  #AddABathroom .rating {
    unicode-bidi: bidi-override;
    direction: rtl; }
    #AddABathroom .rating span {
      display: inline-block;
      position: relative;
      width: 1.1em; }
  #AddABathroom .rating > span:hover:before,
  #AddABathroom .rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
    color: gold; }
  #AddABathroom .xButton {
    align-self: flex-end;
    margin-right: 20px; }

#banner {
  display: flex;
  flex-direction: column;
  height: 400px;
  text-align: center;
  background-image: url(/images/AdobeStock_63967942.jpeg);
  background-size: 100vw 400px; }

#description {
  width: 80%;
  height: 40%;
  display: flex;
  text-align: center;
  margin: auto;
  background: rgba(255, 255, 255, 0.25) border-box;
  overflow: hidden;
  border-radius: .3em;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3) inset, 0 0.5em 1em rgba(0, 0, 0, 0.6);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3); }

#locate {
  width: 200px;
  height: 50px;
  background-color: #99173C;
  color: white;
  margin-bottom: 20px; }

#teamInfo {
  height: 400px;
  display: flex;
  justify-content: space-around;
  background-color: white; }

#teamInfo h3 {
  text-align: center; }

.info {
  width: 30%;
  background-color: white;
  color: #555152; }

.info img {
  margin-top: 20px;
  border-radius: 50%;
  height: 220px;
  width: 220px;
  display: flex;
  margin: auto;
  margin-top: 20px;
  border: 5px solid #99173C; }

.info p {
  text-align: center;
  margin-top: 20px; }

#socIcons {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DCE9BE; }

.icon {
  margin: 5px; }

#footer {
  height: 80px;
  text-align: center;
  background-color: #2E2633;
  color: white; }

#details {
  text-align: center; }

#basicInfo {
  text-align: center; }

#attributes {
  display: flex;
  justify-content: space-around; }

#commentField {
  text-align: center; }

#comments {
  text-align: center; }

/*# sourceMappingURL=style.css.map */
