extends layout
block content
  
  
  body
    section#addBathroom
      h1 Add Bathroom
      form(action='/addbathroom' method='POST')
        input(type="text" name="bathroomName")
        input(type="text" name="directions")
        input(type="radio" name="mensChangingTable" value="true")
        input(type="radio" name="mensChangingTable" value="false")
        input(type="radio" name="womensChangingTable" value="true")
        input(type="radio" name="womensChangingTable" value="false")
        input(type="radio" name="unisex" value="true")
        input(type="radio" name="unisex" value="false")
        input(type="radio" name="customersOnly" value="true")
        input(type="radio" name="customersOnly" value="false")
        input(type="radio" name="private" value="true")
        input(type="radio" name="private" value="false")
        input(type="submit")
