extends layout
block content
  div
    section#AddABathroom
      h1 Add a Bathroom
      form
        label
          p Name
        input(type="text")
        p Rating
        label
          p Review
        input(type="textarea")
        label
          p Directions
          input(type="textarea")
        div
          input(type="checkbox")
          p asduasdh
          input(type="checkbox")
          input(type="checkbox")
          input(type="checkbox")
          input(type="checkbox")
          input(type="submit")
          
          
