extends layout
block content

  main
    #banner
      p#description
        | We just want to make sure you find a nice and tidy place to do your business.
      button#locate Find Bathrooms
    #teamInfo
      #ian.info
        img(src='http://lorempixel.com/image_output/sports-q-c-250-250-7.jpg')
        p Ian likes Pool Parties and Mariah Carey
      #jory.info
        img(src='http://lorempixel.com/image_output/fashion-q-c-250-250-1.jpg')
        p Jory doesn't know how to jump and builds things out of paper mache
      #kc.info
        img(src='http://lorempixel.com/image_output/cats-q-c-250-250-3.jpg')
        p A real dud of a human being who only eats Chicfila.
    #socIcons
      a(href='https://www.facebook.com/')
        img(src='/images/1465798034_facebook_social_media_online_logo.png')
      a(href='https://twitter.com/')
        img(src='/images/1465798043_twitter_social_media_online_logo.png')
      a(href='https://www.google.com/')
        img(src='/images/1465798465_google_plus_social_media_online_logo.png')
    #footer
      p
        | Created By: Ian, Jory Blaze and KC 
        span#divide ✦
        | BathroomFinder
        span ™
