extends layout
block content

    















  div
    section#AddABathroom
      h1 


  //- Sign in Div
  div
    section#signin
      button.xButton &#10006;
      h1 Sign In
      form(action='/signin' method='POST')
        label
          p Username
        input(type="text")
        label
          p Password
        input(type="password")
        p not a user? 
          a(href='#' id="signupButton") Sign up
          
      button login with facebook
        
  //- Sign up div
  div    
    section#signup
      button.xButton &#10006;
      h1 Sign Up
      form(action='/signup' method='POST')
        label
          p Username
        input(type="text")
        label
          p Password
        input(type="password")
        p Have an account? 
          a(href="#" id="signinButton") Sign In    
      button Sign Up With Facebook
        
