doctype html
html
  head
  meta(name="viewport" content="initial-scale=1.0")
  link(rel="stylesheet", href='/stylesheets/style.css')
  script(src="https://code.jquery.com/jquery-2.2.3.min.js", integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=", crossorigin="anonymous")
  script(src="/javascript/nav.js")
  script(src="/javascript/main.js")

  header
    div.menu-wrap
      nav.menu
        ul
          li
            a(href="#" id="login") Login
            ul#sub-menu
              li 
                a(href='#') Edit Account
              li
                a(href='/signout') Signout
        ul
          li#title Bathroom_Finder
        ul
          li
            a(href="#") Add Bathroom

  body      
  //- Sign in Div
  div
    section#signin
      button.xButton &#10006;
      h1 Sign In
      form(action='/signin' method='POST')
        label
          p Username
        input(type="text")
        label
          p Password
        input(type="password")
        p not a user? 
          a(href='#' id="signupButton") Sign up
          
      button login with facebook
        
  //- Sign up div
  div    
    section#signup
      button.xButton &#10006;
      h1 Sign Up
      form(action='/signup' method='POST')
        label
          p Username
        input(type="text")
        label
          p Password
        input(type="password")
        p Have an account? 
          a(href="#" id="signinButton") Sign In    
      button Sign Up With Facebook      

  block content
