doctype html
html
  head
  link(rel="stylesheet", href='/stylesheets/style.css')
  
  header
    div.menu-wrap
      nav.menu
        ul
          li
            a(href="#") Login
            ul#sub-menu
              li 
                a(href='#') Edit Account
              li
                a(href='/signout') Signout
        ul
          li Bathroom_Finder
        ul
          li
            a(href="#") Add Bathroom
  block content
