doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Hello #{user.username}
    if user.id
      p
        a(href='/signout') Sign out
    else
      p
        a(href='/signin') Sign in
      p
        a(href='/signup') Sign up
    block content
