doctype html
html
  head
  meta(name="viewport" content="initial-scale=1.0")
  link(rel="stylesheet", href='/stylesheets/style.css')
  script(src="https://code.jquery.com/jquery-2.2.3.min.js", integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=", crossorigin="anonymous")
  script(src="/javascript/nav.js")
  script(src="/javascript/main.js")
  header
    div.menu-wrap
      nav.menu
        ul
          li
            if username
              a#login= username
            else
              a#login Login
            ul#sub-menu
              li 
                a(href='#') Edit Account
              li
                form(action="/signout" method='POST') 
                  input(type='submit' value='Signout')  
        ul
          li#title Bathroom_Finder
        ul
          li
            a#addBathroomButton Add Bathroom
  body      
  //- Sign in Div
  div
    section#signin
      button.xButton &#10006;
      h1 Sign In
      form(action='/signin' method='POST')
        label
          p Username
        input(type="text" name="username")
        label
          p Password
        input(type="password" name="password")
        p
        input(type="submit")
        p not a user? 
          a#signupButton(href="#") Sign up
          
      button login with facebook
        
  //- Sign up div
  div    
    section#signup
      button.xButton &#10006;
      h1 Sign Up
      form(action='/signup' method='POST')
        label
          p Username
        input(type="text" name="username")
        label
          p Password
        input(type="password" name="password")
        input(type="submit")
        p Have an account? 
          a(href="#" id="signinButton") Sign In    

  div
    section#AddABathroom
      button.xButton &#10006;
      h1 Add a Bathroom
      form
        label
          p Name
        input(type="text")
        p Rating
        div(class="rating")
          span &#9734
          span &#9734
          span &#9734
          span &#9734
          span &#9734
        label
          p Review
        textarea
        label
          p Directions
          textarea
        div#checkboxes
          p private
          input(type="checkbox")
          p men's changing table 
          input(type="checkbox")
          p women's changing table
          input(type="checkbox")
          p unisex
          input(type="checkbox")
          p customers only
          input(type="checkbox")
            
        input(type="submit")
      button Sign Up With Facebook      

  block content
  
  #footer
    p
      | BathroomFinder
      span ™
      br
      span#divide ✦
      br
      | Created By: Ian, Jory Blaze and KC
