doctype html
html
  head
  meta(name="viewport" content="initial-scale=1.0")
  link(rel="stylesheet", href='/stylesheets/style.css')
<<<<<<< HEAD
  script(src="https://code.jquery.com/jquery-2.2.3.min.js", integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=", crossorigin="anonymous")
  script(src="/javascript/nav.js")
=======
  script(src="../javascript/main.js")
>>>>>>> b1ee3da841a0825f9c78eaddcb5d98d4bada3125
  
  header
    div.menu-wrap
      nav.menu
        ul
          li
            a(href="#" id="login") Login
            ul#sub-menu
              li 
                a(href='#') Edit Account
              li
                a(href='/signout') Signout
        ul
          li#title Bathroom_Finder
        ul
          li
            a(href="#") Add Bathroom
<<<<<<< HEAD
  body
=======
            
    h1 hello #{user.username}
>>>>>>> b1ee3da841a0825f9c78eaddcb5d98d4bada3125
    block content
