extends layout
block content

  div(id="map")
  p(class="hidden" id="lat")= lat
  p(class="hidden" id="lng")= lng
  
  script(src="/javascript/initMap.js")
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMR72LZK1TzznEiG9LqMJtEvfafaLtMhE&callback=initMap" async defer)

  
  body
  #moreInfo
    #basicInfo
      h3 Placeholder for Bathroom Name
      p Average Rating: show stars (average number)
      p Location: Address?
      p Details:
      p Directions from DB
    #attributs
      p
        span Mens Changing Table: Yes/No
        span Womans Changing Table: Yes/No
      p
        span Customer's Only: Yes/No
        span Hours: From DB
      p
        span Unisex: yes/no
        span Muli or Single Stall: From DB
      h3 Comments
    #comments
      | push comments into this div
