extends layout
block content


  body
    section#moreInfo
      #basicInfo
        h1#bRoomName Placeholder for Bathroom Name
        h3#bRoomRating Average Rating: show stars (average number)
        h3 Location: Address?
        h3 Directions:
        p Directions from DB
      h3#details Details
      #attributes
        #left
          p
            strong Mens Changing Table:
            |  Yes/No
          p
            strong Customers Only:
            |  Yes/No
          p
            strong Unisex:
            |  Yes/No
        #right
          p
            strong Womans Changing Table:
            |  Yes/No
          p
            strong Hours:
            |  From DB
          p
            strong Multi or Single Stall:
            |  Multi/Single
      h3#commentField Comments
      #comments push comments into this div
