extends layout
block content

  div#signInSignUpPage
    div#signInHalf
      h2 Sign in
        form(action='/signin' method='POST')
          input(type="text" name="username" placeholder="username")
          input(type="password" name="password" placeholder="password")
          input(type="submit" value="Sign in")
    div#signUpHalf  
      h2 Sign Up
        form(action='/signup' method='POST')
          input(type="text" name="username" placeholder="username")
          input(type="password" name="password" placeholder="password")
          input(type="submit" value="Sign in")
  div(class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="true")
