extends layout
block content

  h2 Log into your account
    form(action='/signin' method='POST')
      input(type="text" name="username" placeholder="username")
      input(type="text" name="password" placeholder="password")
      input(type="submit" value="Sign in")
      
